.p-photo {
    height: 5em;
    width:  5em;
}
.p-div-1 {
    margin-top: 2em;
    padding: 1em;

    border: 1px solid silver;
    border-radius: 0.5em;
}

.op-profile {
    margin: 1em;
    padding: 0.2em;
    border: 1px solid silver;
    border-radius: 0.5em;
}

.op-item {
    margin: 1em;
}